* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--020-a-18, #020A18);
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
}

.item {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item-big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.item__text {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}